.center-block {
    float: none;
}

h1 {
    text-align: center;
}


/*header style*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(45, 4, 129, 0.9), rgba(45, 4, 129, 0.9)),url(img/skocznia.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
}

header h1 {
    color: #fff;
    text-align: center;
    margin: 0px;
    background: transparent;
}

.btn-primary {
    margin-bottom: 10px;
    margin-top: 10px;
}

input-group{
    margin-bottom: 10px;
}
/*class center-block style img*/
.center-block figure{
    text-align:center;
    
}

.center-block figure img{
    width: 150px;
}
/*section style*/
.jumper{
    margin-top:20px;
    color:#000;
}

.flex-profile{
    display: flex;
}

/*fourJumper section*/

.fourJumper::before{
    content:"";
    display:block;
    border:0.5px solid #c4c4c4;
    margin-top: 40px;
    
}
.fourJumper .col-md-12{
text-align: center;
}

.fourJumper img{
    width: 100px;
}

/*footer style*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background: #002395;
    margin-top:20px;
}

footer i {
    margin: 10px;
    color: #fff;
}